<nav class="navbar">
    <div class="logo">
        <img src="assets/logo.png" alt="" class="logo">
    </div>
    <ul class="nav-list toggle-off" id="nav-list">
        <li>
            <div class="item">
                <a href="" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                    <fa-icon [icon]="faUser" class="item-icon"></fa-icon>
                    Contracts
                    <fa-icon [icon]="faAngleDown" class="item-icon"></fa-icon>
                </a>
            </div>
        </li>
        <li>
            <div class="item">
                <a href="" [routerLink]="['/documents']" routerLinkActive="active">
                    <fa-icon [icon]="faDocuments" class="item-icon"></fa-icon>
                    Documents
                    <fa-icon [icon]="faAngleDown" class="item-icon"></fa-icon>
                </a>
            </div>
        </li>
        <li>
            <div class="item">
                <a href="" [routerLink]="['/payout']" routerLinkActive="active">
                    <fa-icon [icon]="faPayout" class="item-icon"></fa-icon>
                    Payout
                    <fa-icon [icon]="faAngleDown" class="item-icon"></fa-icon>
                </a>
            </div>
        </li>
        <li>
            <div class="item">
                <a href="" [routerLink]="['/time']" routerLinkActive="active">
                    <fa-icon [icon]="faTime" class="item-icon"></fa-icon>
                    Time
                    <fa-icon [icon]="faAngleDown" class="item-icon"></fa-icon>
                </a>
            </div>
        </li>
        <li>
            <div class="item item-user">
                <a href="" [routerLink]="['/user']" routerLinkActive="active">
                    <fa-icon [icon]="faUser" class="item-icon"></fa-icon>
                    User
                    <fa-icon [icon]="faAngleDown" class="item-icon"></fa-icon>
                </a>
            </div>
        </li>
    </ul>
    <div class="user-photo">
        <div class="division-line"></div>
        <img src="assets/user-photo.png" alt="">
        <fa-icon [icon]="faAngleDown" class="angle-down-photo"></fa-icon>
    </div>
    <div class="burger-menu" id="burger-menu">
        <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </div>
</nav>

