<div class="container">
    <ul>
        <li class="logo">
            <img src="assets/logo.png" alt="">
        </li>

        <li *ngFor="let item of navItems" class="nav-item">
            <a [routerLink]="[item.path]" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                <fa-icon [icon]="item.icon"></fa-icon>
                    {{item.text}}
                <fa-icon [icon]="faAngleDown"></fa-icon>
            </a>
        </li>
        <li class="user-photo">
            <img src="assets/user-photo.png" alt="">
            <fa-icon [icon]="faAngleDown"></fa-icon>
        </li>
        <li class="burger-menu">
            <fa-icon [icon]="faBars" size="2x"></fa-icon>
        </li>
    </ul>
</div>