<div class="container">
    <div class="title-container">
        <h1>Contracts for {{client}}</h1>
    </div>
    <div class="filter-container">
        <div class="row">
            <input type="text" placeholder="Search" class="search-input">
            <button>Filter</button>
            <button>New hire</button>
        </div>
        <div class="row">
            <input type="text" placeholder="Start date">
            <select>
                <option value="" disabled selected>Contract Type</option>
                <option value="traditional">Traditional</option>
                <option value="traditional">Other</option>
            </select>
            <input type="text" placeholder="Contractor Name">
            <select aria-placeholder="Status">
                <option value="" disabled selected>Status</option>
                <option value="">Active</option>
                <option value="">Signature pending</option>
            </select>
        </div>
    </div>
    <div class="table-container">table</div>
</div>
