.container{
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
    grid-template-areas: 
        "title-container"
        "filter-container"
        "table-container";
        
    height: 100%;
    margin-right: 180px;
    margin-left: 180px;
}   

.title-container{
    grid-area: title-container;

    display: flex;
    align-items: center;
    justify-content: center;

}

.filter-container{
    grid-area: filter-container;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;



    .search-input {
        font-size: 1.5rem;
        width: 739px;
        height: 58px;

        line-height: 24px;
        font-size: 16px;

        background: #FFFFFF;
        border: 0.5px solid #989B9B;
        box-sizing: border-box;
        border-radius: 5px;
    }

    button {
        width: 111px;
        height: 58px;

        font-size: 1.3rem;
    }
}

.table-container{
    grid-area: table-container;

    display: flex;
    align-items: center;
    justify-content: center;
    

}
