<main>
    <div class="title">
        <h1>Client for {{client}}</h1>
    </div>
    <div class="filter">
        <div class="row">
            <input type="text" placeholder="search" class="search">
            <button class="filter-btn">Filter</button>
            <button class="new-hire-btn">New hire</button>
        </div>
        <div class="row">
            <input type="text" placeholder="pick a date" class="calendar">
            <select name="" id="" class="contract-type">
                <option value="" disabled selected>Contract type</option>
                <option value="">Traditional</option>
                <option value=""></option>
            </select>
            <input type="text" placeholder="contractor name" class="contractor-name">
            <select name="" id="" class="status"></select>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <td *ngFor="let column of displayColumns">{{ column.text }}</td>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</main>