.container{
    display: grid;
    grid-template-rows: 1.2fr 8.8fr;
    grid-template-areas: 
        "topbar"
        "main-content";

    height: 100vh;

    ::ng-deep nav{
        grid-area: topbar;
        max-height: 108px;
    }

    ::ng-deep main{
        grid-area: main-content;
        background: var(--primary-color);
    }
}