@use './shared/styles/variables';

@font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/aileron/Aileron-Regular.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aileron', sans-serif;
}

